<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaw1ShZANR7D0t4duahxGNlRo3myLYLOA</string>
	<key>GCM_SENDER_ID</key>
	<string>820743913209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.backtracking.client</string>
	<key>PROJECT_ID</key>
	<string>firstaid-b3f79</string>
	<key>STORAGE_BUCKET</key>
	<string>firstaid-b3f79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820743913209:ios:7f08f0120764f84d3c6c28</string>
</dict>
</plist>